<!Doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CLC Films</title>
    <link rel="icon" href="/assets/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/assets/css/liner_icon.css">
    <link rel="stylesheet" href="/assets/css/search.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
{% if request.resolver_match.url_name == "home" %}
{% include 'header.html'%}


    <!-- banner post start-->
    <section class="banner_post">
        <div class="container-fluid">
            <div class="row justify-content-between">
            {% for movie in headMovies %}
                <div class="banner_post_1 banner_post_bg_1">
                <img src="{{movie.movieUrl}}" style="width: 100%;height: 500px;object-fit: cover; object-position:top">
                    <div class="banner_post_iner text-center">
                        <h5>{{movie.type}}</h5>
                        <h4>{{movie.about}}</h4>
                        <p>Posted on {{movie.postDate | date:"F j, Y"}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- banner post end-->


    <!-- feature_post start-->
    <section class="all_post section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                    {% for subMovie in  subMovies %}
                        <div class="col-lg-12">
                            <div class="single_post post_1 feature_post">
                                <div class="single_post_img">
                                    <img src="{{subMovie.movieUrl}}" style="width: 100%;height: 500px;object-fit: cover; object-position:top" alt="">
                                </div>
                                <div class="single_post_text text-center">
                                    <h5>{{subMovie.type}}</h5>
                                    <h4>{{subMovie.about | default:"Biopic film" }}</h4>
                                    <p>Posted on {{subMovie.postDate | date:"F j, Y"}}</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_post post_1">
                                <div class="single_post_img">
                                <img src="{{subMovie.movieUrl}}" style="width: 100%;height: 300px;object-fit: cover; object-position:top" alt="">
                                </div>
                                <div class="single_post_text text-center">
                                    <h5>{{subMovie.type}}</h5>
                                    <h4>{{subMovie.about}}</h4>
                                    <p>Posted on {{subMovie.postDate | date:"F j, Y"}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar_widget">
                        <div class="single_sidebar_wiget">
                            <div class="sidebar_tittle">
                                <h3>Categories</h3>
                            </div>
                            <div class="single_catagory_item category">
                                <ul class="list-unstyled">

                                    <li><a href="#">Comedy</a> <span>(15)</span> </li>
                                    <li><a href="#">Love</a> <span>(10)</span> </li>
                                    <li><a href="#">Horror</a> <span>(09)</span> </li>
                                    <li><a href="#">Biopic</a> <span>(13)</span> </li>
                                    <li><a href="#">Bollywood</a> <span>(18)</span> </li>
                                    <li><a href="#">Hollywood</a><span>(20)</span> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="single_sidebar_wiget">
                            <div class="sidebar_tittle">
                                <h3>Popular Films</h3>
                            </div>
                            {% for movie in headMovies %}
                            <div class="single_catagory_post post_2 ">
                                <div class="category_post_img">
                                    <img src="{{movie.movieUrl}}" style="width: 100%;height: 270px;object-fit: cover; object-position:top"alt="">
                                </div>
                                <div class="post_text_1 pr_30">
                                    <a href="single-blog.html">
                                        <h3>{{movie.about}}</h3>
                                    </a>
                                    <p><span> By {{user}} | </span> {{movie.postDate | date:"F j, Y"}}</p>
                                </div>
                            </div>
                             {% endfor %}
                        </div>
                        
                        <div class="single_sidebar_wiget">
                            <div class="sidebar_tittle">
                                <h3>Share this post</h3>
                            </div>
                            <div class="social_share_icon tags">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a href="#"><i class="ti-pinterest"></i></a></li>
                                    <li><a href="#"><i class="ti-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



                
            </div>
        </div>
    </section>
    <!-- feature_post end-->

    <!-- social_connect_part part start-->
    <section class="social_connect_part">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="social_connect">
                    {% for movie in allMovie %}
                    <div class="single-social_connect">
                        <div class="social_connect_img">
                            <img src="{{movie.movieUrl}}" style="width: 100%;height: 270px;object-fit: cover; object-position:top" class="" alt="blog">
                            {% comment %} <div class="social_connect_overlay">
                                <a href="#"><span class="ti-instagram"></span></a> 
                            </div> {% endcomment %}
                        </div>
                    </div>
                    {% endfor %}
                  
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- social_connect_part part end-->
    
     {% include "footer.html" %}
    {% endif %}

    {% block body_block %} {% endblock %}
    <!-- footer part end-->
    <!-- jquery -->
    <script src="/assets/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/assets/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- custom js -->
    <script src="/assets/js/custom.js"></script>
</body>

</html>