
{% extends "base.html" %} {% block body_block %}
    <!-- breadcrumb start-->
    <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}" style="height:50px; width:50px"> <img src="/assets/img/logo.png" alt="logo"><p style="color:#ff8080; font-family:Palatino Linotype">CLC Films</p> </a>
  <!-- ================ contact section start ================= -->
 
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Get in Touch</h2>
        </div>
        <div class="col-lg-8">
          <form class="form-contact contact_form" action="{% url "contact" %}" method="post"
            novalidate="novalidate">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="name" id="name" type="text" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter your name'" placeholder='Enter your name' required>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="email" id="email" type="email" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'" placeholder='Enter email address' required>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter Subject'" placeholder='Enter Subject' required>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'"
                    placeholder='Enter Message'></textarea>
                </div>
              </div>
            </div>
            <div>
            </div>
            <div class="load_btn">
            <button class="btn_1" type="submit">Send Message</button>
            </div>
          </form>
        </div>

        <div class="col-lg-4">
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
              <h3>509 Mangalwar Peth.</h3>
              <p>Satara, MH- 415002</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
              <h3>9922934952</h3>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
              <h3>jadhavsagar698@gmail.com</h3>
              <p>Send us your query anytime!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- ================ contact section end ================= -->
  <!-- social_connect_part part start-->
  <section class="social_connect_part">
      <div class="container-fluid">
          <div class="row">
              <div class="col-xl-12">
                  <div class="social_connect">
                  <div class="single-social_connect">
                      <div class="social_connect_img">
                          <img src="/assets/img/insta/instagram_1.png" class="" alt="blog">
                          <div class="social_connect_overlay">
                              <a href="#"><span class="ti-instagram"></span></a> 
                          </div>
                      </div>
                  </div>
                  <div class="single-social_connect">
                      <div class="social_connect_img">
                          <img src="/assets/img/insta/instagram_2.png" class="" alt="blog">
                          <div class="social_connect_overlay">
                              <a href="#"><span class="ti-instagram"></span></a> 
                          </div>
                      </div>
                  </div>
                  <div class="single-social_connect">
                      <div class="social_connect_img">
                          <img src="/assets/img/insta/instagram_3.png" class="" alt="blog">
                          <div class="social_connect_overlay">
                              <a href="#"><span class="ti-instagram"></span></a> 
                          </div>
                      </div>
                  </div>
                  <div class="single-social_connect">
                      <div class="social_connect_img">
                          <img src="/assets/img/insta/instagram_4.png" class="" alt="blog">
                          <div class="social_connect_overlay">
                              <a href="#"><span class="ti-instagram"></span></a> 
                          </div>
                      </div>
                  </div>
                  <div class="single-social_connect">
                      <div class="social_connect_img">
                          <img src="/assets/img/insta/instagram_5.png" class="" alt="blog">
                          <div class="social_connect_overlay">
                              <a href="#"><span class="ti-instagram"></span></a> 
                          </div>
                      </div>
                  </div>
                  <div class="single-social_connect">
                      <div class="social_connect_img">
                          <img src="/assets/img/insta/instagram_6.png" class="" alt="blog">
                          <div class="social_connect_overlay">
                              <a href="#"><span class="ti-instagram"></span></a> 
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
      </div>
  </section>
  </div>
 {% endblock %}