     <!-- footer part start-->
	<footer class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-lg-6 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
					<h4>about us</h4>
					<p>We are Python Web Developer responsible for writing server-side web application logic also usually develop back-end components, connect the application with the other third-party web services.</p>
				</div>
				<div class="col-xl-4 col-lg-6 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
					<h4>Contact Info</h4>
					<ul>
						<li><p>Address :509 Mangalwar Peth,
								Near Datta Madir, Satara.</p></li>
						<li><p>Phone : +9922934952</p></li>
						<li><p>Email : jadhavsagar698@gmail.com</p></li>
					</ul>
				</div>
				<div class="col-xl-4 col-lg-6 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
					<h4>Important Link</h4>
					<ul>
						<li><a href="#">https://programizz.com</a></li>
						<li><a href="#">https://journaldev.com</a></li>
						<li><a href="#">https://realpython.com</a></li>
						<li><a href="#">https://w3resource.com</a></li>
						<li><a href="#">https://medium.org</a></li>
					</ul>
				</div>

			</div>
			<div class="copyright_text">
				<div class="row align-items-center">
					<div class="col-lg-8">
						<div class="copyright_part">
							<p class="footer-text m-0">Copyright © {% now "M Y" %} All rights reserved <span class="px-2">|</span> Made with <a><i class="ti-heart"></i></a>  by <span style="color:#00ccff">Sagar</span></p>
						</div>
					</div>
					<div class="col-lg-4 text-center text-lg-right">
						<div class="footer-social">
							<a href="#"><i class="ti-facebook"></i></a>
							<a href="#"> <i class="ti-twitter"></i> </a>
							<a href="#"><i class="ti-instagram"></i></a>
							<a href="#"><i class="ti-skype"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>