{% extends "base.html" %} 

{% block body_block %}
{% include 'authheader.html'%}
<div>
<a href="{% url 'movie_add' %}"><button type="button" class="btn btn-info float-right" style="margin-right:60px;margin-top:15px">Add Movie</button></a>
</div>
<div class="row" style="margin-top:70px">
{% for movie in allMovie %}

<div class="col-sm-3">
<div class="card bg-light mb-3">
  <div class="card-header">
  <label>{{movie.type}} </label>
  <span style="position:absolute; right:4px; top:10px;">
  <a href="#"><img style="width:25px;height:25px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE6zxfyAq6DVH_zdK3t1T5HgKQG0CYUcj_7mjrrLutbZ6QTmEWjA&s"/></a>&nbsp;&nbsp;
  <a href="#"><img style="width:25px;height:25px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQGvyoTi9ZywAprgKHXDN_MNYLj47htTdIm2gGY6gS_PyhVPea-A&s"/></a>
  </span>
  </div>
  <div class="card-body" >
  <img class="card-title card-text" style="width: 100%;height: 270px;object-fit: cover; object-position:top" src="{{movie.movieUrl}}">
    <h5 class="card-title">{{movie.about}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

</div>                                 
{% endfor %}
</div>
</div>
{% endblock %}