  {% extends "base.html" %} {% block body_block %}
  <div class="container">
   <a class="navbar-brand" href="{% url 'home' %}" style="height:50px; width:50px"> <img src="/assets/img/logo.png" alt="logo"><p style="color:#ff8080; font-family:Palatino Linotype">CLC Films</p> </a>
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h3 class="card-title text-center">Login</h3>
            <form class="form-signin" method="post" action="{% url 'login' %}">
            {% csrf_token %}
              <div class="form-label-group">
               <label>Email address</label>
                <input type="text" name="useremail" class="form-control" placeholder="Email address" required autofocus>
              </div>

              <div class="form-label-group">
              <label>Password</label>
                <input type="password" name="userpassword" class="form-control" placeholder="Password" required>
              </div>

              <div class="custom-control custom-checkbox mb-3">
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
              <p>New User <a href="{% url 'signup' %}"><span>Signup</span></a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}