{% extends "base.html" %} 
{% block body_block %}
 {% include 'authheader.html'%}
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h3 class="card-title text-center">Movie Add </h3>
            <form class="form-signin" method="post" action="{% url 'movie_add' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-label-group">
               <label>Movie Type</label>
                <input type="text" name="movieType" class="form-control" value="{{type}}" placeholder="Movie Type" required autofocus>
            </div>
            <div class="form-label-group">
               <label>Movie Name</label>
                <input type="text" name="movieName" class="form-control" value="{{name}}" placeholder="Movie Name" required autofocus>
            </div>
              <div class="form-label-group">
               <label>Movie Description</label>
                <input type="text" name="movieDescribe" class="form-control" value="{{about}}" placeholder="Movie Description" >
              </div>

              <div class="form-label-group">
            <img src=""
                    id="image"
                     />
              <input
                  type="file"
                  name="picture"
                  id="picture"
                  class="img-upload-input"
                  accept="image/*"
                /><label for="picture" class="pt-4">
                  </label>
              </div>
              <div class="custom-control custom-checkbox mb-3">
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Add</button>
            </form>
          </div>
        </div>
      </div>
  </div>
  <script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
      $('#image').attr('src', e.target.result);
    }
    
    reader.readAsDataURL(input.files[0]);
  }
}

$("#picture").change(function() {
  readURL(this);
});

</script>
{% endblock %}