{% extends "base.html" %} 
{% block body_block %}
 {% include 'authheader.html'%}
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h3 class="card-title text-center">Profile</h3>
            <form class="form-signin" method="post" action="{% url 'profile' %}">
            {% csrf_token %}
            <div class="form-label-group">
               <label>First Name</label>
                <input type="text" name="firstName" class="form-control" value="{{user.first_name}}" placeholder="First Name" required autofocus>
            </div>
            <div class="form-label-group">
               <label>Last Name</label>
                <input type="text" name="lastName" class="form-control" value="{{user.last_name}}" placeholder="Last Name" required autofocus>
            </div>
              <div class="form-label-group">
               <label>Email address</label>
                <input type="email" name="useremail" class="form-control" value="{{user.email}}" placeholder="Email address" disabled>
              </div>

              <div class="form-label-group">
               <label>Mobile Number</label>
                <input type="Number" name="userMobileNumber" value="{{user.userprofile.mobileNumber}}" class="form-control" placeholder="Mobile Number" disabled>
              </div>

              <div class="form-label-group">
               <label>Sign up as ...</label>
                <input type="text" name="userRole" class="form-control" placeholder="eg - Actor / Director / Producer" value="{{user.userprofile.role}}" required>
              </div>

              <div class="custom-control custom-checkbox mb-3">
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Update</button>
              <p>Change Password <a href="{% url "home" %}"><span>Click Here</span></a></p>
            </form>
          </div>
        </div>
      </div>
    
  </div>
{% endblock %}